.cart {
  background: $white;
  padding: 16px;
  width: 100%;
  border-bottom: solid 1px $grey;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  flex-direction: column;
  align-items: center;

  &__illustration {
    min-height: 100px;
    position: relative;

    svg {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .button {
    text-transform: none;
    letter-spacing: normal;
    width: 100%;

    @media (min-width: 600px) {
      width: auto;
    }
  }
}
