.searchbar {
  width: 100%;
  background: $white;
  padding: 16px;
  border-bottom: solid 1px $grey;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  animation-name: animateTop;
  animation-duration: 0.4s;

  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    background: $grey;
    padding: 8px 16px;
    color: $dark-grey;
    border-radius: 30px;

    svg {
      margin-right: 8px;
    }

    form {
      width: 100%;

      input {
        width: 100%;
        background: none;
        border: none;
      }
    }
  }

  &.panel {
    @media (min-width: 900px) {
      top: 0;
      left: auto;
      right: 180px;
      max-width: 500px;
      height: 89px;
      padding: 24px 16px;
      transform-origin: center right;
      animation: widthIn 0.4s ease;
    }

    @media (min-width: 1200px) {
      right: 280px;
    }
  }
}
