* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $black;
  font-size: 16px;
  background: $white;

  > * {
    width: 100%;

    .container {
      padding: 0 16px;
      position: relative;
      width: 100%;
      max-width: 1200px;
      display: flex;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $interactive;
  }
}

ul {
  list-style: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

.js-active {
  display: block;
}

a .js-active {
  color: $interactive;
}

h1 {
  margin-top: 104px;
}
